<html>
  <head>
    <meta charset="utf-8"/>
    <title> Resultado </title>
    <link rel="stylesheet" type="text/css" href="css/outcomes_styles.css" />
    <link rel="stylesheet" type="text/css" href="css/menu_styles.css" />
  </head>

  <body>
    <header>
      <input type="checkbox" id="btn_menu">
      <label for ="btn_menu"> <img src="images/menu_icon.png" alt=""> </label>
      <nav class="menu">
        <ul>
          <li> <a href="/"> Inicio  </a> </li>
          <li> <a href="/careers"> Carreras </a> </li>
        </ul>
      </nav>
    </header>

    <h1> Resultado </h1>
    <p> Deberias estudiar: <%= @career_result.name %> </p>
    <p> Descripcion de <%= @career_result.name %>: </p>
    <% if !@career_result.doesHaveFullDescription? %>
      <dd> Aun no se agrego una descripcion. </dd>
    <% end %>
      <dd> <%= @career_result.full_description %> </dd>

    <h1> Resultados generales: </h1>
    <% for i in (@result.size - 1).downto(0) do %>
      <% if @result[i][1] > 0 %>
        <p> <%= @result[i][0].name %> : <%= @result[i][1] %> </p>
      <% end %>
    <% end %>
  </body> 
</html>