<html>
  <head>
    <meta charset="utf-8"/>
    <title> QUESTIONS </title>
  </head>

  <body>
    <h1> QUESTIONS </h1>

    <p> Create a question. </p>
    <form name='formCreateQuestion' action='/questions' method='POST'>
      <input type='text' name='name' placeholder='question name' required>
      <input type='text' name='description' placeholder='description of the question' required>
      <input type='number' name='number' id='number' placeholder='number of the question' min=0 required>
      <select name='type'>
          <option value='SINGLE-CHOICE'> single-choice </option>
      </select>
      <input type='hidden' name='action' value='create'>
      <input type='submit' value='Create'>
    </form>

    <p> Delete a question by ID </p>
      <form name='formDeleteQuestion' action='/questions' method='POST'>
        <input type='number' name='id' placeholder='question ID' min=0 required>
        <input type='hidden' name='action' value='delete'>
        <input type='submit' value='Delete'>
    </form>

    <p> Create a choice </p>
    <form name='formCreateChoice' action='/choices' method='POST'>
      <input type='text' name='text' placeholder='choice text' required>
      <input type='number' name='question_id' placeholder='id of the associated question' min=0 required>
      <input type='hidden' name='action' value='create'>
      <input type='submit' value='Create'>
    </form>

    Questions:
    <% @questions.map do |question| %>
        <ul>
            <p> ID : <%= question.id %> </p>
            <p> Name : <%= question.name %> </p>
            <p> Description : <%= question.description %> </p>
            <p> Number : <%= question.number %> </p>
            <p> Type : <%= question.type %> </p>

            Associated choices : 
            <% question.choices.map do |choice| %>
              <dd> 
                ID : <%= choice.id %> <br>
                Text : <%= choice.text %> 
              </dd>
            <% end %>
        </ul>
    <% end %>
  </body>
</html>