<html>
  <head>
    <meta charset="utf-8"/>
    <title> QUESTIONS </title>
  </head>

  <body>
    <h1> QUESTIONS </h1>

    <% @questions.map do |question| %>
        <ul>
            ID : <%= question.id %> <br>
            Name : <%= question.name %> <br>
            Description : <%= question.description %> <br>
            Number : <%= question.number %> <br>
            Type : <%= question.type %> <br>
        </ul>
    <% end %>
  </body>
</html>