<html>
  <head>
    <meta charset="utf-8"/>
    <title> QUESTIONS </title>
  </head>

  <body>
    <h1> QUESTIONS </h1>

    <form action='/questions' method='POST'>
        <input type='text' name='name' value='question name' required> </input> <br>
        <input type='text' name='description' value='description of the question' required> </input> <br>
        <input type='number' name='number' id='number' min='0' required> </input> <br>
        <select name='type'>
            <option value='exclusive'> exclusive </option>
        </select>
        <input type='hidden' name='action' value='create'>
        <input type='submit' value='Create'>
    </form>

    <% @questions.map do |question| %>
        <ul>
            ID : <%= question.id %> <br>
            Name : <%= question.name %> <br>
            Description : <%= question.description %> <br>
            Number : <%= question.number %> <br>
            Type : <%= question.type %> <br>

            Associated choices : <br>
            <% question.choices.map do |choice| %>
              <dd> 
                ID : <%= choice.id %> <br>
                Text : <%= choice.text %> 
              </dd>
            <% end %>
        </ul>
    <% end %>
  </body>
</html>