<html>
  <head>
    <meta charset="utf-8"/>
    <title> QUESTIONS </title>
  </head>

  <body>
    <h1> QUESTIONS </h1>

    Create a question.
    <form action='/questions' method='POST'>
        <input type='text' name='name' placeholder='question name' required> </input>
        <input type='text' name='description' placeholder='description of the question' required> </input>
        <input type='number' name='number' id='number' placeholder='number of the question' min=0 required> </input>
        <select name='type'>
            <option value='SINGLE-CHOICE'> single-choice </option>
        </select>
        <input type='hidden' name='action' value='create'>
        <input type='submit' value='Create'>
    </form>

    Questions:
    <% @questions.map do |question| %>
        <ul>
            <p> ID : <%= question.id %> </p>
            <p> Name : <%= question.name %> </p>
            <p> Description : <%= question.description %> </p>
            <p> Number : <%= question.number %> </p>
            <p> Type : <%= question.type %> </p>

            Associated choices : 
            <% question.choices.map do |choice| %>
              <dd> 
                ID : <%= choice.id %> <br>
                Text : <%= choice.text %> 
              </dd>
            <% end %>
        </ul>
    <% end %>
  </body>
</html>