<html>
  <head>
    <meta charset="utf-8"/>
    <title> SURVEY </title>
    <link rel="stylesheet" type="text/css" href="css/surveys_index_styles.css" />
  </head>

  <body>
    <h1> UNRC SURVEY </h1>
    <form action='/responses' method='POST'> <!-- Form start -->
    
        <ul>
            <% @questions.map do |question| %> <!-- For each question -->
              <li> <%= question.name %> </li> <!-- Display name of the question --> <br>
              <%= question.description %> <br> <!-- Display description of the question -->
              <ul>
                  <% question.choices.map do |choice| %> <!-- For each choice of the question -->

                      <input class='input-choice' type='radio' name=<%= question.id %> value=<%= choice.id %> required> <%= choice.text %> <br>

                      <!-- For each choice we generate a 'button' to be able to select it -->
                      <!-- At the moment we assume that the options are single-choice questions. -->

                  <% end %>
                  <input type='hidden' name='question_id[]' value=<%= question.id %>>
                  <br>
              </ul>
            <% end %>
        </ul>

        <input type='hidden' name='survey_id' value='<%= @survey.id %>'>
        <input class='input-send' type='submit' value='send'>
    </form> <!-- Form end -->
  </body>
</html>